body {
    padding-top: 50px;
    background-color: darkolivegreen;
    background-image: url('http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg');
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.jumbotron {
    background-image: url(http://wallpapercave.com/wp/qaZcFEq.png);
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    box-shadow: 0px 0px 45px grey;
}

#info {
    background-color: beige;
    padding-top: 40px;
    padding-bottom: 40px;
}

#portfolio,
#contact,
#about {
    padding-bottom: 150px;
}

#link{
    color:whitesmoke;
}